/* resets  */

*,
*::after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* reset font size to be 1rem = 10px */
	font-size: 62.5%;
	/* font smothing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
img,
picture {
	display: block;
	max-width: 100%;
	object-fit: cover;
}
button {
	display: block;
	border: 0;
	background-color: transparent;
	font-size: inherit;
	cursor: pointer;
	color: inherit;
}
li,
ul {
	list-style: none;
}
/* custom properties */

:root {
	/* colors */
	--almost-white: hsl(0, 0%, 98%);
	--med-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);
}
/* body setup */
body {
	min-height: 100vh;
	font-family: 'Epilogue', sans-serif;
	font-size: 1.8rem;
	font-weight: 500;
	background-color: var(--almost-white);
	line-height: 1.5;
}

/* utilities */

.container {
	max-width: 144rem;
	margin: 0 auto;
}

.flow > * + * {
	margin-top: var(--column-gap);
}
/* component */
.btn {
	display: block;
	padding: 0.8em;
}

.btn-light,
.btn-dark {
	border: 2px solid var(--med-gray);
	border-radius: 1em;
}

.btn-dark {
	border-color: var(--almost-black);
	background-color: var(--almost-black);
	color: #fff;
	text-decoration: none;
}

.btn-dark:hover,
.btn-dark:focus {
	border-color: var(--med-gray);
	background-color: transparent;
	color: var(--almost-black);
}

/* header & nav */

#site-header {
	display: flex;
	padding: 2rem 2rem 2rem;
	justify-content: space-between;
	align-items: center;
}

.logo {
	max-width: 7rem;
	padding: 0.5em;
	flex-shrink: 0;
}

.menu {
	position: fixed;
	background-color: #fff;
	color: var(--med-gray);
	top: 0;
	right: 0;
	width: 65vw;
	height: 100vh;
	padding: 0 2rem;
	font-size: 1.5rem;
	transform: translateX(100%);
	z-index: 10;
	transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
}

.menu.open {
	transform: translateX(0);
	opacity: 1;
	transition-delay: 0.3s;
}

.menu-open,
.menu-close {
	padding: 0.5em;
}
.menu-close {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

.nav-list ul {
	margin-top: var(--column-gap);
	padding-left: 1.2em;
}

.menu a {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 0.8em;
}
.drop-down-list {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out;
	opacity: 0;
}

.drop-down-list.open {
	max-height: 100vh;
	transition-duration: 0.5s;
	opacity: 1;
}
.drop-down-item a {
	display: flex;
}

.drop-down-item a span {
	display: block;
}
.drop-down-item img {
	margin-right: 1em;
	height: 100%;
}

.drop-down-button {
	display: flex;
	align-items: center;
	padding: 0.8em;
}
.drop-down-button.active {
	color: var(--almost-black);
}

.drop-down-button span:nth-child(2) {
	margin-left: 1em;
}
.drop-down-button.active img {
	transform: rotate(180deg);
}
.menu nav {
	margin: min(20vh, 8rem) 0 min(5vh, 1rem);
}

.menu a:hover,
.menu a:focus,
.menu button:hover,
.menu button:focus {
	color: var(--almost-black);
	border-color: var(--almost-black);
}

.registeration-list {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	transform: translateX(100%);
	opacity: 0;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.menu.open + .overlay {
	z-index: 9;
	transform: translateX(0);
	opacity: 1;
}

@media (min-width: 50em) {
	.menu {
		display: flex;
		justify-content: space-between;
		position: static;
		background-color: transparent;
		align-items: center;
		color: var(--med-gray);
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
		padding: 0 0 0 2rem;
		font-size: 1.5rem;
		transform: translateX(0%);
		transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
	}

	.menu.open {
		transform: translateX(0);
		opacity: 1;
		transition-delay: 0.3s;
	}
	.menu-close,
	.menu-open,
	.overlay {
		display: none;
	}

	.menu nav {
		margin: 0;
	}

	.menu nav > ul.nav-list {
		gap: 2rem;
	}

	.menu .nav-list {
		display: flex;
		justify-content: center;
	}
	.menu .registeration-list {
		flex-direction: row;
	}

	.menu .registeration-list .btn {
		padding: 0.7em 2em;
	}

	.menu .drop-down-container {
		position: relative;
	}

	.nav-list.drop-down-list {
		flex-direction: column;
		position: absolute;
		background-color: #fff;
		right: 0;
		top: 100%;
		width: max-content;
		border-radius: 1rem;
		box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
	}

	.drop-down-list a {
		padding: 0.5em 0.8em;
	}

	.drop-down-item:first-child {
		margin-top: 1rem;
	}
	.drop-down-item:last-child {
		margin-bottom: 1rem;
	}
}

/* body section */
main {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	overflow: hidden;
}
.intro-illisturation {
	order: 1;
}
.intro-info {
	order: 2;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.intro-info h1 {
	font-size: 3.5rem;
	line-height: 1.1;
}
.intro-info p {
	color: var(--med-gray);
	margin-bottom: 1.1rem;
}

.intro-info .btn {
	padding: 0.5em 1.5em;
}
.intro-footer {
	display: flex;
	gap: 3rem;
	justify-content: space-between;
	margin-top: 4.5rem;
}

@media (min-width: 40em) {
	main {
		flex-direction: row;
		margin: 0 auto;
		gap: min(3rem, 5vw);
		align-items: stretch;
		padding: 2rem 2.5rem 4rem;
	}

	.intro-info {
		order: 1;
		text-align: left;
		align-items: flex-start;
		justify-content: flex-end;
		flex-shrink: 1;
		width: 60%;
		margin: 0;
	}
	.intro-info h1 {
		font-size: clamp(4rem, 1rem + 4vw, 8rem);
	}

	.intro-info h1 span {
		display: block;
	}
	.intro-info p {
		max-width: 40ch;
	}
	.intro-illisturation {
		flex-shrink: 2;
	}

	.intro-illisturation img {
		max-height: calc(100vh - 80px);
	}
}

@media (min-width: 50em) {
	main {
		width: 85%;
	}
}
